/*
 *
 * Reset
 *
 */
* {
	margin:0;
	padding:0;
	outline:none;
	border:0;
	list-style:none;
}

/*
 *
 * Layout
 *
 */
html, body {
	position:relative;
	font-family:Verdana, Geneva, sans-serif;
}
html.fullscreen, html.fullscreen body {
	width:100%;
	height:100%;
}

/*
 *
 * Common classes
 *
 */
.clear { clear:both; }
.fleft { float:left; }
.fright { float:right; }


/*
 *
 * Custom styles
 *
 */
 
#map {
	position:relative;
	display:block;
	width:100%;
	height:100%;
}
 
#map .overlay {
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
	cursor:pointer !important;
}

#map .drawing {
	cursor:move;
}
 
 
#controls {
	 margin-top:10px;
	 margin-left:10px;
}
 
#controls ul li {
	 display:block;
	 width:48px;
	 height:46px;
	 background:url(img/btn.png) no-repeat top left;
	 margin-bottom:5px;
}

#controls ul li.down {
	 background:url(img/btn_down.png) no-repeat top left;
}

#controls ul li a {
	 display:block;
	 width:48px;
	 height:46px;
}

#controls ul li.drag img {
	display:block;
	width:38px;
	height:37px;
	position:relative;
	top:5px;
	left:5px;
}

#controls ul li.flower img {
	display:block;
	width:34px;
	height:32px;
	position:relative;
	top:8px;
	left:7px;
}

#controls ul li img.down {
	 display:none;
}
#controls ul li.down img.down {
	 display:block;
}
#controls ul li.down img.normal {
	 display:none;
}